@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Animal</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Species)
  <select name="species" id="species">
    <option value="cat">Cat</option>
    <option value="dog">Dog</option>
    <option value="bunny">Bunny</option>
  </select>

  <input type="submit" value="Find animals" />
}

@if (@Model.Count == 0)
{
  <h3>no Animals have been added yet</h3>
}

<ul>
  @foreach (Animal animal in Model)
  {
    <li>@Html.ActionLink($"{animal.AnimalName}", "Details", new { id = animal.AnimalId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new animal", "Create")</p>
<p>@Html.ActionLink("Reset animals", "Reset")</p>